[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
[submodule "vimperator/vimperator-plugins"]
	path = vimperator/vimperator-plugins
	url = https://github.com/vimpr/vimperator-plugins.git
[submodule "neobundle.vim"]
	path = neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule "zsh-completions"]
	path = zsh-completions
	url = git@github.com:zsh-users/zsh-completions.git
