[user]
    name = <your name>
    email = <your email>

[core]
    excludesfile = ~/.gitignore_global
    editor = vim -c \"set fenc=utf-8\"

[url "https://"]
    insteadOf = git://

[color]
    ui = true

[alias]
    # refs http://suzuken.hatenablog.jp/entry/2015/04/07/134847
    alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/' | sort
    f = fetch --prune
    l = log --graph -n 20 --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(green)- %an, %cr%Creset'
    ll = log --stat --abbrev-commit
    lp = log --oneline -n 20 -p
    ls = log --stat --abbrev-commit -n 1 # display previous log
    delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
    fetch-pulls = fetch origin +refs/pull/*:refs/remotes/pull/*
